@import './patches.scss';
@import './theme.scss';
@import './fonts.scss';

.shadow-box,
[shadow-box] {
  border-radius: 12rpx;
  box-shadow: 0 1rpx 7rpx rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.smooth {
  border-radius: 30%;
  overflow: hidden;
  background-color: #eee;
}

.smooth-enable .smooth {
  border-radius: 0;
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners);
  --smooth-corners: 3;
}

.wave {
  position: relative;
  overflow: hidden;
}

.wave::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, rgba(38, 89, 139, 0.3) 10%, transparent 10.1%);
  transform: scale(10);
  opacity: 0;
  transition: all 1s;
  pointer-events: none;
}
.wave:not(.click):not(.active)::after {
  transform: scale(0);
  opacity: 0.2;
  transition: 0s;
}

.wave.click:active::after {
  transform: scale(0);
  opacity: 0.2;
  transition: 0s;
}
